.home-page {
    font-family: 'Press Start 2P', cursive;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/public/images/mario_bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

h1,
h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px black;
}

.carousels {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.carousel {
    margin: 0 15px;
}

.start-battle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-battle-button:hover {
    background-color: #c0392b;
}

.start-battle-button {
    margin-top: 40px;
    padding: 12px 24px;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background-color: #ff4c00;
    border: 3px solid #353535;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.start-battle-button:hover {
    background-color: #e03e00;
    transform: scale(1.05);
}

.start-battle-button:active {
    transform: scale(0.95);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.loading-overlay img {
    width: 400;
    height: auto;
}